
Dengan mengakses sistem ini, Anda menyetujui ketentuan berikut sesuai dengan peraturan di Indonesia dan standar keamanan:
- Sistem ini hanya untuk penggunaan yang sah.
- Setiap penggunaan sistem ini dan semua file yang ada di dalamnya dapat dipantau dan direkam untuk tujuan keamanan.
- Komunikasi yang dilakukan melalui, atau data yang disimpan di, sistem ini tidak dijamin kerahasiaannya dan dapat diaudit sewaktu-waktu.

